<!-- <mat-form-field>
    User Email:
    <input matInput type="email" [(ngModel)]="username">
    <br> Password:
    <input matInput type="password" [(ngModel)]="password">
    <br>
    <button mat-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
</mat-form-field> -->

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" [(ngModel)]="username" name="userEmail">
    </mat-form-field>
</form>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="userPassword">
    </mat-form-field>
</form>
<button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Submit</button>
